<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Add Album</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<h1>Delete Album</h1>

			<form action="{{ url_for('delete_album') }}" method="post">
				<label for="album_id">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="album_id" placeholder="Album Id" id="album_id" required>

				<div class="msg">Enter Album Details</div>
				<input type="submit" value="Delete Album">
			</form>
		</div>
	</body>
</html>