<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Artist Search</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<h1>Show Collaborations</h1>

			<form action="{{ url_for('show_collab') }}" method="post">
				<label for="artist_name">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="artist_name" placeholder="Artist Name" id="artist_name" required>
                <label for="artist_surname">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="artist_surname" placeholder="Artist Surname" id="artist_surname" required>
				<div class="msg">Enter Artist Details <div>
				<input type="submit" value="Login">
			</form>
		</div>
	</body>
</html>