<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Genre Search</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<h1>Genre Search</h1>

			<form action="{{ url_for('search_by_genre') }}" method="post">
				<label for="genre">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="genre" placeholder="Genre" id="genre" required>
				<div class="msg">Enter Album Genre <div>
				<input type="submit" value="Login">
			</form>
		</div>
	</body>
</html>