<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body class="loggedin">
<nav class="navtop">
    <div>
        <h1>DBtify</h1>
        <a href="{{ url_for('home_listener') }}"><i class="fas fa-home"></i>Home</a>
        <a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
        <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
    </div>

</nav>

<div class="content">

     <table border="" cellpadding="20" cellspacing="5" style="float: inside">
<h2>Liked Songs of {{other}}</h2>
         <td>Song Title</td>
    <td>Total Number Of Likes</td>

    {% for item in liked_songs %}
    <tr>
        <td>{{item['title']}}</td>
        <td>{{item['no_of_likes']}}</td>

    </tr>
    {% endfor %}
</table>
</div>
</body>
</html>